* {
    margin: 0;
    box-sizing: border-box;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: black;
}

h1 {
    color:crimson;
    font-family:'Dela Gothic One', cursive;
    text-align: center;
}

figure {
    margin: 1em;
}

figcaption {
    text-align: center;
    color:cornflowerblue;
    font-family: 'Montserrat', sans-serif;
}
