*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
  display: flex;
  justify-content: flex-end;
  
  width: 100%;
  background-color: darkslategrey;
  z-index:1;
  margin: 0;
}

.navlist {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.navlist a{
  display: block;
  font-size: 1em;
  padding: .75em;
  color: white;
}

.navlist a:hover{
  color: var(--lightpink);
  transform: translateY(-3px);
}

ul {
  list-style-type: none;
}

a{
   text-decoration: none;
   color: white;
}

a:hover {
  text-shadow: 2px 2px var(--black);
}


h1 {
    color:yellow;
}

.header {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto; 
  width: 45%
  
}

html {
    background-color: cadetblue;
    margin: 
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    background-color: rgb(255, 217, 0);
    color: rgb(255, 255, 255);
    padding: .4em;
    border: solid 3px rgb(84, 109, 189);
    border-radius: 2em;
  margin: .5em;
  font-family: 'Staatliches';
    font-size: 1em;
}

.buttons {
  display: flex;
     flex: wrap;
     justify-content: center;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    margin: 8px;
    perspective: 600px;

}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
  }

  .card__face--front {
    background: whitesmoke;
    border: 6px solid rgb(255, 217, 0);
    border-radius: 10px;
    color: rgb(255, 145, 145);
    font-family: 'Staatliches';
    font-size: 1.4em;
  }
  
  .card__face--back {
    background: whitesmoke;
    border: 6px solid rgb(255, 217, 0);
    border-radius: 10px;
    transform: rotateY(180deg);
    font-family: 'Noto Sans KR', sans-serif;
    color:rgb(255, 145, 145);
    background-color: rgb(253, 243, 185);
    padding: 3.2em .5em;
  }

  