:root {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    margin-left: 20px;
    font-family: 'Dela Gothic One', cursive;
    font-size: 36px;
    margin-bottom: .75em;
}

main {
    display: flex;
    height: 100;
    font-family: 'Montserrat', sans-serif;

}

img, nav {
    z-index: 1;
    position: relative;
    
}

li {
list-style-type: none;
color:cornflowerblue;
background-color: rgba(12, 22, 34, 0.75);
padding: 0em 0em .2em 1em;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

img {
    margin: 0px 0px 25px 120px;
}

#navList {
    width: 400px;
    margin-left: 20px;
}

.message-text {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

footer {
    color:rgb(104, 104, 103);
    background-color: rgba(15, 15, 15, 0.582);
text-align: center;
padding: .4em;
margin-top: 1em;
}