* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

figure > img {
    height: 200px;
    border-radius: 10px;
    margin: 1.2em 1.5em .2em;
   
}

figcaption {
    text-align: center;
    color: rgb(5, 99, 99)

}

h1 {
  text-align: center; 
  color: rgb(5, 99, 99) ;
  font-family:'Dela Gothic One', cursive;
  font-size: 36px;
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: .7em;
    background-color: rgb(203, 228, 147);
    margin: 1em;
    color:rgb(42, 66, 18);
    border-radius: 5px;
    border-color:rgb(42, 66, 18);
    margin-left: 15em;
}

html {
    background-color: beige;
}


