* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

figure > img {
    height: 250px;
    border-radius: 100px;
    margin: 1.2em 1.5em .2em;
   border: 5px solid rgb(203, 228, 147);
}






figcaption {
    text-align: center;
    color: rgb(5, 99, 99)

}

h1 {
  text-align: center; 
  color: rgb(5, 99, 99) ;
  font-family:'Dela Gothic One', cursive;
  font-size: 36px;
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    background-color: rgb(203, 228, 147);
    margin: 1em;
    color:rgb(42, 66, 18);
    border-radius: 5px;
    border-color:rgb(42, 66, 18);
    margin-left: 15em;
}

html {
    background-color: beige;
}

footer {
    font-family: Montserrat;
    color:rgb(160, 196, 84);
    background-color: rgb(247, 235, 176);
text-align: center;
padding: .4em;
margin-top: 1em;
}



