* {
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(191, 220, 236);
    z-index:1;
    margin: 0;
  }
  
  .navlist {
    display: flex;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navlist a{
    display: block;
    font-size: 1em;
    padding: .75em;
    color: navy;
  }
  
  .navlist a:hover{
    color: red;
    transform: translateY(-3px);
  }
  
  ul {
    list-style-type: none;
  }
  
  a{
     text-decoration: none;
     color: white;
  }
  
  a:hover {
    text-shadow: 2px 2px var(--black);
  }
  



h1 {
    color: rgb(191, 220, 236);
    text-align: center;
}

body {
    background-image: url('https://picsum.photos/id/1073/2000/3000?blur');
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    float: below;
    justify-content: center;
    margin-top: 22px;
}

.figureDiv {
    margin: 12px 8px;
    padding: 6px;
    border: 4px navy solid;
    box-shadow: 3px 3px 2px rgb(3, 3, 46);
background-color: rgb(225, 239, 247);
}

figure {
width: 125px;
}

img {
    width: 125px;
}

figcaption {
    text-align: center;
    font-family: playfair-display, serif;
    font-weight: 600;
    font-style: normal;
    margin-top: .2em;
    color: rgb(212, 14, 14);
}

/* .fa-republican {
    color: red;
}

.fa-democrat {
    color: blue;
}

.fa-mitten {
    color: green;
} */


h1{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    padding: .2em;
 }

 header {
     padding: .7em;
     background-color:rgb(21, 22, 97);
    }

 button {
    margin: .2em;
    padding: .5em;
    color: navy;
    background-color: rgb(219, 238, 245);
    border: .2px solid navy;
    border-radius: 2px;
    font-family: playfair-display, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
 }

 .buttons {
     display: flex;
     flex: wrap;
     justify-content: space-evenly;
 }

 button:hover {
     color: red;
     background-color: rgb(250, 245, 216);
 }

.icon {
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

#top-scroll {
    color: navy;
    background-color: gold;
    padding: 5px;
}

 html {
    scroll-behavior: smooth;
  }
 