* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(191, 220, 236);
    text-align: center;
  
}

body {
    background-image: url('https://picsum.photos/id/1073/2000/3000?grayscale&blur');
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    float: below;
    justify-content: center;
    margin-top: 22px;
}

.figureDiv {
    margin: 12px 8px;
    padding: 6px;
    border: 2px red solid;
    box-shadow: 3px 3px 2px rgb(126, 3, 3);
background-color: rgb(225, 239, 247);
}

figure {
width: 125px;
}

img {
    width: 125px;
}

figcaption {
    text-align: center;
    font-family: playfair-display, serif;
    font-weight: 600;
    font-style: normal;
    margin-top: .2em;
    color: navy;
}


h1{
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    margin: .5em;
    padding: .2em;
    background-color:rgb(21, 22, 97);
 }

 button {
     margin: .2em;
     padding: .5em;
    color: navy;
    background-color: rgb(219, 238, 245);
    border: .2px solid navy;
    border-radius: 2px;
    font-family: playfair-display, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
 }

 .buttons {
     display: flex;
     flex: wrap;
     justify-content: space-evenly;
     
 }